* {
  margin: 0;
  padding: 0;
}

body{
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 50px 2fr 50px;
  grid-template-areas: 
  "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer";
  gap: 5px;
  min-height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: clamp(50px, 20%, 400px) 5fr;
  background-color: #393f4d;
  align-items: center;
}

.header .logo{
  justify-self: start;
}

.menu ul{
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  gap: 30px;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-area: nav;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: space-around;
  justify-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  grid-area: article;
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  margin-top: 10px;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
  margin-bottom: 5px;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}